# Environment & IDE
.env
*.log
*.png
*.json
*.pyc
__pycache__/
*.sqlite
*.db
*.egg-info/

# Editor/project files
.vscode/
.idea/

# Build tools
dist/
build/

# Temporary or legacy code
old/
scripts/developing/


